<!--INICIO DO CONTEUDO-->
<section class="content">
  <div class="box box-solid">
    <div class="box-body">
      <form [formGroup]="vendasForm">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">Realizar nova venda</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-xs-12">
              <!-- Informações de Cliente/Vendedor/Serviços -->
              <div class="col-xs-12">
                <div class="col-sm-6 col-xs-12">
                  <mt-input-container errorMessage="Campo obrigatório" label="Cliente" forId="id_cliente">
                    <select class="form-control" formControlName="id_cliente" id="id_cliente" autocomplete="off">
                      <option value selected disabled hidden>Informe o cliente</option>
                      <option *ngFor="let c of clientes" value="{{c.id_pessoa}}">{{c.nome_pessoa}}</option>
                    </select>
                  </mt-input-container>
                </div>
                <div class="col-sm-6 col-xs-12" id="input_vendedor">
                  <mt-input-container errorMessage="Campo obrigatório" label="Vendedor" forId="id_vendedor">
                    <select class="form-control" formControlName="id_vendedor" id="id_vendedor" autocomplete="off">
                      <option value selected disabled hidden>Informe o vendedor</option>
                      <option *ngFor="let v of vendedores" value="{{v.id_colaborador}}">{{v.nome_pessoa}}</option>
                    </select>
                  </mt-input-container>
                </div>
              
                <div class="col-sm-12 col-xs-12">
                  <mt-input-container errorMessage="Campo obrigatório" label="Serviços" forId="id_servico">
                    <select class="form-control" formControlName="id_servico" id="id_servico" autocomplete="off">
                      <option value selected disabled hidden>Informe o responsável pela empresa</option>
                      <option *ngFor="let s of servicos" value="{{s.id_servico}}">{{s.ds_servico}} | {{ s.vl_servico | currency:'BRL':'true'}}</option>
                    </select>
                  </mt-input-container>
                </div>
              </div>
              <!-- Serviços mais vendidos -->
              <div class="col-xs-12" id="mais_vendidos">
                  <h3 class="col-sm-12">Serviços mais vendidos</h3>
                  <div class="table-responsive col-sm-12" *ngIf="servicos">
                      <table class="table table-bordered table-striped table-hover table-sm table-dark">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let servico of servicos; index as i">
                            <th>{{servico.id_servico}}</th>
                            <th>{{servico.ds_servico}}</th>
                            <td>{{servico.vl_servico | currency:'BRL':'true'}}</td>
                            <td>
                              <button (click)="addItem(servico.id_servico)" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i></button>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
            <!-- Carrinho com serviços -->
            <div class="col-sm-4" id="carrinho">
              <div class="col-sm-12 col-xs-12">
                <div class="box box-solid">
                  <div class="box-header">
                    <i class="fa fa-shopping-cart"></i>
                    <h3 class="box-title">Carrinho</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <div *ngIf="!items().length">
                      <p class="text-center">
                        Seu carrinho está vazio!
                      </p>
                    </div>
                    <div class="table-responsive" id="carrinho_itens" *ngIf="items().length">
                      <table class="table">
                        <tbody>
                        <tr *ngFor="let item of items()">
                          <th>({{item.quantidade}}x) {{item.ds_servico}}</th>
                          <td class="text-right">{{item.value() | currency: 'BRL': 'true'}}</td>
                          <td class="text-right">
                            <a (click)="removeItem(item)" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="carrinho_total" *ngIf="total()>0">
                    <h4>Total:</h4>
                    <h4 class="pull-right">{{total() | currency: 'BRL': 'true'}}</h4>
                  </div>
                </div>
                <div class="box-footer" *ngIf="items().length">
                  <div class="pull-right">
                    <button (click)="clear()" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal"><i class="fa fa-credit-card"></i> Fechar Pedido</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>



<div class="modal fade in" id="modal" tabindex="-1" role="dialog" aria-labelledby="Cadastro de Colaboradores">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <nm-finalizar-venda></nm-finalizar-venda>
    </div>
  </div>
</div>