<section class="content-header">
  <h1>Listagem de Clientes</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header">
          <div class="">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_cliente">
                <i class="fas fa-plus-circle"></i> Cadastrar novo cliente
            </button>
          </div>
        </div>
        <div class="box-body table-responsive no-padding max-height-sm">
          <table id="table" class="table table-hover table-condensed table-bordered" role="grid">
            <thead>
              <tr role="row">
                <th>#</th>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of clientes">
                <td>{{c.id_cliente}}</td>
                <td>{{c.nome_cliente}}</td>
                <td>{{c.email}}</td>
                <td>{{c.cpf}}</td>
                <td>Detalhe</td>
              </tr>
            </tbody>
          </table>
        </div>
      <!-- /.box-body -->
    </div>
    </div>
  </div>
</section>

<div class="modal fade in" id="modal_cliente" tabindex="-1" role="dialog" aria-labelledby="Cadastro de Clientes">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <nm-cliente></nm-cliente>
    </div>
  </div>
</div>
