@screen-sm-min: 768px;

body{
    margin: 0;
}
  
.content {
    padding: 1px 15px;
}
.control-label{
    label{
        display: block;
    }
}
span.select2.select2-container.select2-container--default.select2-container--focus{
    width: 100% !important;
}
span.select2.select2-container.select2-container--default{
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    border-radius: unset;
    .select2-selection__rendered{
        line-height: 23px;
    }
    .select2-selection__placeholder {
        color: #555;
    }
}
.select2-dropdown {
    border-radius: unset;
}
.btn-group-sm>.btn, .btn-sm {
padding: 2px 6px;
font-size: 11px;
line-height: 1.5;
border-radius: 3px;
}
div#mais_vendidos {
    div{
        max-height: 276px;
    }
    h3{
        margin-top:0; 
    }
}
div#carrinho{
    #carrinho_itens{
        max-height: 312px;
        min-height: 312px;
    }
    #carrinho_total{
        h4{
            display: inline-block;
        }
    }
}
.main-header {
    a::before{
        display: none;
    }
}
.box {
    margin-bottom: 0;
}

.btn-novo{
    color: #00a65a;
    &:hover{
        cursor: pointer;
    }
}

@media (min-width: @screen-sm-min) {
    .max-height-sm{
        max-height: 465px;
        margin-left: 10px;
    }
    input{
        &.finalizar{
        padding: 1px 1px;
        }
        &.finalizar-quantidade{
            margin: 0 5px;
            padding: 1px 1px 1px 10px;
        }
    }
}